.wrapper {
  position: relative;
  width: 100%;
}

.main-content {
  padding-top: 60px;
}

.touch {
  * {
    cursor: pointer;
  }
}

.stretched-link {
  &::after {
    @extend %ps-as;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }
}
.border-none{
  border: none;
}
.overlay-after {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    @extend %ps-as;
    z-index: -1;
    background-color: $black;
    opacity: .5;
  }
}

.link-inhert {
  @extend %link-inhert;
}

.parent-link-inhert {
  @extend %parent-link-inhert;
}

.bg {
  @include background-size(cover);
}

.bg-bottom-center {
  background-position: bottom center !important;
}

.bg-bottom-right {
  background-position: bottom right !important;
}

.bg-bottom-left {
  background-position: bottom left !important;
}

.bg-center {
  background-position: center center !important;
}

.bg-top-left {
  background-position: top left !important;
}

.bg-top-right {
  background-position: top right !important;
}

.bg-inhert {
  background-color: inherit;
}

.bg-gray {
  background-color: $gray-500;
}

.text-white {
  @extend %color-white;
}

.ps-as {
  @include position(absolute, 0, 0, 0, 0, 1);

  &.bg {
    z-index: -1;

    &+div {
      z-index: 2;
    }
  }
}

.ps-rv {
  position: relative;
}

.ps-stt {
  position: static;
}

.d-table,
.d-sm-table,
.d-md-table,
.d-lg-table {
  table-layout: fixed;
}

.no-bg {
  background: none !important;
}

.text-center {

  ul,
  ol {
    padding-left: 0;

    li {
      list-style-position: inside;
    }
  }

  ul {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
}

.last-mb-none {
  @extend %last;
}

.bg-black {
  background-color: $black;
}

.color-white {
  color: $white;
}

.max-width-2k {
  max-width: 2000px;
  margin: auto;
}

.overlay-banner {
  z-index: 1;

  &::before {
    content: "";
    @extend %ps-as;
    background: $black;
    opacity: .4;
    z-index: 2;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.opacity-0 {
  opacity: 0;
}

// Nguyễn Anh Hải
.bg-img {
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

// Nguyễn Anh Hải
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}