// Nguyễn Anh Hải

.slider-item {
  height: $slider-img-height;
  position: relative;
}

.slider-img-block {
  height: $slider-img-height;
  @include position(absolute);
}

.slider-caption {
  @include position($type: absolute, $top: 50%, $left: 50%,$index: 100);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
